.Flight Search Engine
{
max-width: 350px;
border: 1px solid #ced4da;
margin: 10% auto 0;
}
body  
{
  background-image: url("flight.jpg");
}
.radio-btn
{
margin: 0 20px;
}
.radio-btn .btn
{
margin: 20px 10px 20px 0;
box-shadow: none;
}

.slidecontainer {
  width: 20%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 300px; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 20px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
 
}


.left {
  width: 25%;
}

.right {
  width: 75%;
}

.main {
  background: #aaa;
}

table, th, td {
  border: 1px solid black;
  width: 100%;
}

